USE [master]
GO
/****** Object:  Database [Auto_Gallery]    Script Date: 20.12.2022 14:14:08 ******/
CREATE DATABASE [Auto_Gallery]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Auto_Gallery', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DLBRMSSQLSERVER\MSSQL\DATA\Auto_Gallery.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Auto_Gallery_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DLBRMSSQLSERVER\MSSQL\DATA\Auto_Gallery_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Auto_Gallery].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Auto_Gallery]
GO
/****** Object:  Table [dbo].[Tbl_Brands]    Script Date: 20.12.2022 14:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Brands](
	[Brand_Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_Brands] PRIMARY KEY CLUSTERED 
(
	[Brand_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Cars]    Script Date: 20.12.2022 14:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Cars](
	[Car_Id] [int] IDENTITY(1,1) NOT NULL,
	[Car_Plate] [nvarchar](10) NULL,
	[Car_Year] [char](4) NULL,
	[Car_Color] [nvarchar](50) NULL,
	[Car_Fuel] [nvarchar](50) NULL,
	[Car_SalePrice] [decimal](15, 2) NULL,
	[Car_RentPrice] [decimal](6, 2) NULL,
	[Store_Id] [int] NULL,
	[Model_Id] [int] NULL,
 CONSTRAINT [PK_Tbl_Cars] PRIMARY KEY CLUSTERED 
(
	[Car_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Customers]    Script Date: 20.12.2022 14:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customers](
	[Customer_Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](50) NULL,
	[Customer_Surname] [nvarchar](50) NULL,
	[Customer_TC] [char](11) NULL,
	[Customer_DLicence] [char](10) NULL,
	[Customer_Phone] [nvarchar](20) NULL,
	[Customer_Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Employee]    Script Date: 20.12.2022 14:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Employee](
	[Employee_Id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Name] [nvarchar](50) NULL,
	[Employee_Surname] [nvarchar](50) NULL,
	[Employee_TC] [char](11) NULL,
	[Employee_Phone] [nvarchar](20) NULL,
	[Employee_Email] [nvarchar](50) NULL,
	[Store_Id] [int] NULL,
 CONSTRAINT [PK_Tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Models]    Script Date: 20.12.2022 14:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Models](
	[Model_Id] [int] IDENTITY(1,1) NOT NULL,
	[Model_Name] [nvarchar](50) NULL,
	[Brand_Id] [int] NULL,
 CONSTRAINT [PK_Tbl_Models] PRIMARY KEY CLUSTERED 
(
	[Model_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Stores]    Script Date: 20.12.2022 14:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Stores](
	[Store_Id] [int] IDENTITY(1,1) NOT NULL,
	[Store_Name] [nvarchar](50) NULL,
	[Store_Adress] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_Stores] PRIMARY KEY CLUSTERED 
(
	[Store_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Users]    Script Date: 20.12.2022 14:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Users](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[User_Email] [nchar](50) NULL,
	[User_Phone] [char](15) NOT NULL,
 CONSTRAINT [PK_Tbl_Users] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Cars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Cars_Tbl_Models] FOREIGN KEY([Model_Id])
REFERENCES [dbo].[Tbl_Models] ([Model_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Cars] CHECK CONSTRAINT [FK_Tbl_Cars_Tbl_Models]
GO
ALTER TABLE [dbo].[Tbl_Cars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Cars_Tbl_Stores] FOREIGN KEY([Store_Id])
REFERENCES [dbo].[Tbl_Stores] ([Store_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Cars] CHECK CONSTRAINT [FK_Tbl_Cars_Tbl_Stores]
GO
ALTER TABLE [dbo].[Tbl_Employee]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Employee_Tbl_Stores] FOREIGN KEY([Store_Id])
REFERENCES [dbo].[Tbl_Stores] ([Store_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Employee] CHECK CONSTRAINT [FK_Tbl_Employee_Tbl_Stores]
GO
ALTER TABLE [dbo].[Tbl_Models]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Models_Tbl_Brands] FOREIGN KEY([Brand_Id])
REFERENCES [dbo].[Tbl_Brands] ([Brand_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Models] CHECK CONSTRAINT [FK_Tbl_Models_Tbl_Brands]
GO
USE [master]
GO
