
@{
    ViewBag.Title = "AddStore";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label style="margin-top:15px">Şube Adı</label>
        <input type="text" class="form-control" name="Store_Name" />
        <label>Adres</label>
        <input type="text" class="form-control" name="Store_Adress" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Şube Ekle</button>
    </div>
</form>

